[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "midifile"]
	path = midifile
	url = https://github.com/craigsapp/midifile.git
[submodule "onnxruntime"]
	path = onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
